%h2= page.title

%p= parse_description_of(page).html_safe

.action-buttons
  = link_to 'Add new page', add_page_to(page)
  = link_to 'Edit page', edit_page(page)
  / = link_to 'Delete page', nested_page_path(page), method: :delete


%span Subpages
- if page.children.any?
  = render 'collection', page: page
- else
  %span There is no subpages yet.
